<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CISS311_Agile_Gamblers_.Properties.Settings.connString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TinyCollegeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False" />
    </connectionStrings>
</configuration>